<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NServiceBus.Bridge.ActiveMQ2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ninject" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ninject.Extensions.NamedScope" publicKeyToken="c7192dc5380945e7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<MessageForwardingInCaseOfFaultConfig 
    ErrorQueue="The queue to which errors will be forwarded." />-->
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <connectionStrings>
    <add name="ActiveMq" connectionString="tcp://localhost:61616" />
  </connectionStrings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <!--Our internal contracts -->
      <add Assembly="internal1" Endpoint="someprefix.internal1@localhost" />
      <add Assembly="internal2" Endpoint="someprefix.internal2@localhost" />
      <add Assembly="internal3" Endpoint="someprefix.internal3@localhost" />
      
      <!-- Stuff on the broker -->
      <add Assembly="external1" Endpoint="external1" />
      <add Assembly="external2" Endpoint="external2" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <!--<AuditConfig 
    QueueName="The address to which messages received will be forwarded."
    OverrideTimeToBeReceived="The time to be received set on forwarded messages, specified as a timespan see http://msdn.microsoft.com/en-us/library/vstudio/se73z7b9.aspx"  />-->
  <AuditConfig QueueName="audit" />
  <applicationSettings>
    <NServiceBus.Bridge.ActiveMQ2.Properties.Settings>
      <setting name="MaxNumberOfActiveMqListenerThreads" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ActiveMqPollingInterval" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="ActiveMqReplyToQueue" serializeAs="String">
        <value>ActiveMqBridge</value>
      </setting>
      <setting name="ActiveMqErrorQueue" serializeAs="String">
        <value>ActiveMqBridge.Error</value>
      </setting>
    </NServiceBus.Bridge.ActiveMQ2.Properties.Settings>
  </applicationSettings>
</configuration>